.heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px;
    color: chocolate;
    margin: 2px;

}

.location{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    text-align: center;
    margin: 3px;
}

.contact{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    display: flex ;
    justify-content: space-evenly;
    list-style-type: none;
    padding-left: 0px;
    margin: 8px;
}

.section_headings{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20pt;
    margin: 30px;
    color:darkcyan;
}

.line{
    border-color: chocolate;
}

.paragraph{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    color: black;
    padding: top 2px;
    text-align: justify;;
}

.date{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    color: black;
    text-align: justify;
    float: right;
    font-weight: bold;
}

.icon_darkcyan
{
    color: darkcyan;
}

.icon_chocolate
{
    color: chocolate;
}

.right{
    float: right;
    font-weight: bold;
}

.bullet{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    color: black;
    text-align: justify;
    float: left;
    margin: 0px 20px 0px 20px;
}